@import url(http://fonts.googleapis.com/css?family=Open+Sans|Lato);

/* HTML Elements */

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  /*background: black;*/
  /*color: gray;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Custom Classes */

.footer-bottom {
  width: 100%;
  background: #333333;
  padding-top: 24px;
  color: #999999;
}
  .footer-bottom ul {
    padding-left: 4px;
  }

.frontpage-links {
  padding: 0px;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
  .frontpage-links li {
    /* display: inline-block; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }

.frontpage-title {
  /*color: white;*/
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.frontpage-font {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.profile-picture {
  float: left;
  margin-right: 10px;
}

.rounded-edges {
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
}

/* Foundation Classes */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  nav.top-bar {
    text-align: center;
  }

  section.top-bar-title {
    display: inline-block;
  }

  section.top-bar-section {
    display: inline-block;
    /* margin-left: -132px; */
  }
}
