@import url(http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro);

body {
  /*background: black !important;*/
  /*color: grey !important;*/
}

h1 {
  font-family: 'Source Code Pro', monospace !important;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
}

.profile-picture {
  float: left;
  margin-right: 10px;
}

.frontpage-title {
  font-family: 'Source Code Pro', monospace !important;
  /*color: white;*/
  text-align: center;
  font-size: 60px;
}
