@import url(http://fonts.googleapis.com/css?family=Open+Sans|Lato);

/* HTML Elements */

a {
  color: darkcyan; /* #008b8b */
}
  a:hover {
    color: #00cbcb;
  }

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: black;
  color: #999999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #999999;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #999999;
}

label {
  color: #666666;
}

/* Custom Classes */

.footer-bottom {
  width: 100%;
  background: #333333;
  padding-top: 24px;
  color: #999999;
}
  .footer-bottom ul {
    padding-left: 4px;
  }

.frontpage-font {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.frontpage-links {
  padding: 0px;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
  .frontpage-links li {
    /* display: inline-block; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
  }

.frontpage-title {
  /*color: white;*/
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

.profile-picture {
  margin-bottom: 20px;
}

.round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/* Foundation Classes */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  .top-bar {
    text-align: center;
  }

  .top-bar-section {
    display: inline-block;
    /* margin-left: -132px; */
  }

  .top-bar-title {
    display: inline-block;
  }
}

.top-bar * {
  color: #999999 !important;
}

/* Change colour of menu icon */
.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0px 0 1px #999999, 0 7px 0 1px #999999, 0 14px 0 1px #999999;
}
  .top-bar .toggle-topbar.menu-icon a span:hover:after {
    box-shadow: 0 0px 0 1px #999999, 0 7px 0 1px #999999, 0 14px 0 1px #999999;
  }

.panel {
  background: #111111;
  border-color: #222222;
}

.side-nav li.divider {
  border-top-color: #222222;
}

.side-nav li a:not(.button) {
  color: darkcyan; /* #008b8b */

}

.side-nav li a:not(.button):hover {
  color: #00cbcb;
}
