@import url(http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro);

body {
  /*background: black !important;*/
  /*color: grey !important;*/
}

h1 {
  font-family: 'Source Code Pro', monospace !important;
}

h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
}

.profile-picture {
  float: left;
  margin-right: 10px;
}

.frontpage-container {
  padding-top: 10px;
}

.frontpage-image {
  text-align: center;
}

.frontpage-title {
  font-family: 'Source Code Pro', monospace !important;
  /*color: white;*/
  text-align: center;
  font-size: 80px;
}

.frontpage-works-left {
  text-align: left;
}

.frontpage-works-right {
  text-align: right;
}

.frontpage-works-left a,
.frontpage-works-right a {
  font-size: 20px;
}
