@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import url(//fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Montserrat);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Custom Variables
// ----------------

$logo-size: rem-calc(64);
$theme-background-accent-colour: $light-gray;
$theme-font-family-title: 'Montserrat', $header-font-family;

// Mixins
// ------

@mixin reset {
  margin: 0;
  border: 0;
  padding: 0;
}

@mixin round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

// Custom Classes
// --------------

.external-links {
  background: $theme-background-accent-colour;
  padding: 1rem;

  h2 small {
    color: $dark-gray;
  }
}

.footer-bottom {
  background: $theme-background-accent-colour;
  padding: 1rem 0.5rem 1rem 0.5rem;

  @include breakpoint(small) {
    text-align: center;
  }
  @include breakpoint(large) {
    text-align: left;
  }

  li {
    display: inline-block;

    time {
      padding: 0.7rem 1rem; // Same as .menu > li > a
    }
  }
}

.frontpage-links {
  @include reset;

  padding: 0 0 rem-calc(40) 0;
  font-family: $theme-font-family-title;
  font-size: rem-calc(20);
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  li {
    display: inline-block;

    @include breakpoint(small only) {
      padding: 0 rem-calc(10) 0 rem-calc(10);
    }
  }

  li + li:before {
    padding: 0 rem-calc(10) 0 rem-calc(10);

    @include breakpoint(medium) {
      content: "";
    }
    @include breakpoint(large) {
      content: " • ";
    }
  }
}

.frontpage-logo {
  width: $logo-size;
  height: $logo-size;
}

.frontpage-picture {
  padding: 0 0 rem-calc(40) 0;
}

.frontpage-title {
  @include reset;

  @include breakpoint(small only) {
    padding: 0 rem-calc(20) 0 rem-calc(20);
  }
  padding: rem-calc(20) 0 rem-calc(20) 0;
  display: inline-block;
  font-family: $theme-font-family-title;
  font-size: rem-calc(50);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.profile-picture {
  @include round;

  margin: 0 0 rem-calc(20) 0;
}

// Foundation Classes
// ------------------

@include breakpoint($topbar-unstack-breakpoint) {
  nav.top-bar {
    text-align: center;

    ul.menu li {
      display: inline-block;
    }
  }
}

// Stop other bar from being briefly visible
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint($topbar-unstack-breakpoint) {
    .title-bar {
      display: none;
    }
  }
}

.top-bar-title {
  float: none;

  h1 {
    margin: 0;
    font-size: rem-calc(20);

    a {
      color: $body-font-color;
    }
  }
}

// HTML Tags
// ---------

figure {
  @include reset;
}
