<footer class="panel">
  <ul class="inline-list">
    <li><small><a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></small></li>
    <li><small><a href="http://opensource.org/licenses/MIT">MIT</a></small></li>
    <li><small><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fhlilje.com%2F">Check</a></small></li>
    <li><small><time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></small></li>
  </ul>
  <dl class="sub-nav">
    <dt>Works:</dt>
    <dd><a title="GitHub" href="https://github.com/hlilje">Code</a></dd>
    <dd><a title="Bandcamp" href="http://hlilje.bandcamp.com/">Music</a></dd>
    <dd><a title="Flickr" href="https://www.flickr.com/photos/hlilje/">Graphics</a></dd>
    <dd><a title="Tumblr" href="http://hlilje.tumblr.com/">Words</a></dd>
  </dl>
</footer>
