<footer>
  <div class="large-6 columns">
    <ul class="inline-list">
      <li>Works:</li>
      <li><a title="GitHub" href="https://github.com/hlilje">Code</a></li>
      <li><a title="Bandcamp" href="http://hlilje.bandcamp.com/">Music</a></li>
      <li><a title="Flickr" href="https://www.flickr.com/photos/hlilje/">Graphics</a></li>
      <li><a title="Tumblr" href="http://blog.{{ site.url }}">Words</a></li>
    </ul>
    <ul class="inline-list">
      <li><small><a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></small></li>
      <li><small><a href="http://opensource.org/licenses/MIT">MIT</a></small></li>
      <li><small><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fhlilje.com%2F">Check</a></small></li>
      <li><small><time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></small></li>
    </ul>
  </div>
  <div class="large-6 columns">
    <ul class="inline-list large-right">
      <li><a href="https://twitter.com/hlilje"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="https://www.reddit.com/user/Superkargoeren/"><i class="fa fa-reddit fa-fw"></i></a></li>
      <li><a href="https://www.facebook.com/hampusliljekvist"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="https://plus.google.com/+HampusLiljekvist"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="https://www.linkedin.com/pub/hampus-liljekvist/46/72/902"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
  </div>
</footer>
