<footer class="panel">
  <ul class="inline-list">
    <li><span><small><a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</small></span></a></li>
    <li><span><small><a href="http://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause</a></small></span></li>
    <li><span><small><a href="http://validator.w3.org/check?uri=http%3A%2F%2Fhlilje.com%2F">Check</a></small></span></li>
    <li><span><small><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fhlilje.com%2F">Check More</a></small></span></li>
    <li><span><small><time datetime="{{ site.time | date: "%F" }}">{{ site.time | date: "%F" }}</time></small></span></li>
  </ul>
</footer>
