<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.analytics }}');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="keywords" content="Hampus Liljekvist,hlilje,personal,website,homepage,official">
  <meta name="author" content="Hampus Liljekvist">

  <title>{{ page.title }}</title>

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''
                                                        | replace:'about.html','about'
                                                        | replace:'404.html','404' }}">
  <link rel="author" href="/humans.txt">
  <link rel="stylesheet" href="/css/app.css">
</head>
