<header>
  <a href="/"><h1>hlilje</h1></a>
  <h2>Hampus Liljekvist</h2>
  <p>Official Website</p>
  <p class="view"><a href="/about" class="sitePageLink">About</a></p>
  <p class="view"><a href="/contact" class="sitePageLink">Contact</a></p>
  <p class="view"><a href="/scripts" class="sitePageLink">Scripts</a></p>
  <p class="view"><a href="http://twitter.com/hlilje">Twitter</a></p>
  <p class="view"><a href="http://www.facebook.com/hampusliljekvist">Facebook</a></p>
  <p class="view"><a href="https://plus.google.com/105792360022890678502">Google+</a></p>
  <p class="view"><a href="http://www.linkedin.com/pub/hampus-liljekvist/46/72/902">LinkedIn</a></p>
  <p class="view"><a href="https://github.com/hlilje">GitHub</a></p>
  <p class="view"><a href="http://www.csc.kth.se/~hlilje/">KTH</a></p>
</header>
