<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <header><h1><a href="/">hlilje</a></h1></header>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Main Links</a>
        <ul class="dropdown">
          <li><a href="https://twitter.com/hlilje">Twitter</a></li>
          <li><a href="https://www.facebook.com/hampusliljekvist">Facebook</a></li>
          <li><a href="https://plus.google.com/+HampusLiljekvist">Google+</a></li>
          <li><a href="https://www.linkedin.com/pub/hampus-liljekvist/46/72/902">LinkedIn</a></li>
          <li><a href="http://www.csc.kth.se/~hlilje/">KTH</a></li>
        </ul>
      </li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/code">Code</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/scripts">Scripts</a></li>
    </ul>
  </section>
</nav>
