<div class="title-bar" data-responsive-toggle="navigation-topbar" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<nav class="top-bar" id="navigation-topbar">
  <ul class="vertical medium-horizontal menu">
    <li class="top-bar-title">
      <header><h1><a href="/"><strong>{{ site.title }}</strong></a></h1></header>
    </li>
    <li><a href="/about">About</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="{{ site.data.links['Software Development']['GitHub'] | xml_escape }}">Code</a></li>
    <li><a href="http://music.{{ site.url_short }}">Music</a></li>
    <li><a href="http://blog.{{ site.url_short }}">Blog</a></li>
  </ul>
</nav>
