<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="title-area">
      <li class="name">
        <header><h1><a href="/">hlilje</a></h1></header>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <ul class="left">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/code">Code</a></li>
      <li><a href="/music">Music</a></li>
    </ul>
  </section>
</nav>
