<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    {% include topbar.html %}
    <div class="row">
      <div class="large-8 columns">
        {{ content }}
      </div>
      <div class="large-4 columns">
        {% include links.html %}
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="large-12 columns">
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include global-scripts.html %}
  </body>
</html>
